<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/estilos/empleados.css">
    <link rel="stylesheet" type="text/css" href="/estilos/normalize.css">
</head>

<body>
    <nav class="nav">
        <a href="/" class="link"> BIBLOTECA </a>
    </nav>

    <main class="main">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>SALARIO</th>
                </tr>
            </thead>
            <tbody id="tabla-empleados">
                
            </tbody>
        </table>
    </main>


    <script src="scripts/empleadosTabla.js"></script>

</body>

</html>