<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/estilos/normalize.css">
    <link rel="stylesheet" type="text/css" href="/estilos/libros.css">
</head>

<body>
    <nav class="nav">
        <a href="/" class="link"> BIBLOTECA </a>
    </nav>

    <main class="main">
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>TITULO</th>
                    <th>AUTOR</th>
                    <th>PRECIO</th>
                    <th>IMAGEN</th>
                </tr>
            </thead>
            <tbody id="tabla-libros">

            </tbody>
        </table>
    </main>

    <footer>
        <div class="iconos">
            <div class="icono icono--ig">
                <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
            </div>
            <div class="icono icono--twitter">
                <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            </div>
            <div class="icono icono--linkedin">
                <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
            </div>
            <div class="icono icono--github">
                <i class="fa-brands fa-github" style="color: #ffffff;"></i>
            </div>
        </div>
    </footer>


</body>
<script src="https://kit.fontawesome.com/86f6f7f6ea.js" crossorigin="anonymous"></script>
<script src="scripts/librosTabla.js"></script>

</html>